.ag-cell {
  display: flex;
  align-items: center;
}

.cell-wrap-text {
  white-space: normal !important;
}

.common-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
  word-wrap: break-word;
  white-space: normal !important;
}

/* .ag-header-cell-label {
   justify-content: center;
} */
